.results {
    border: 3px black solid;
    width: 75px;
    padding: 50px;
}

.scores {
    display: flex;
}

.player-score {
    border: 1px black solid;
    width: 10px;
    padding: 15px;
    display: flex;
}

.computer-score {
    border: 1px black solid;
    width: 10px;
    padding: 15px;   
    display: flex;
}
