body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    border: 3px black solid;
    width: 150px;
    padding: 10px;
    margin: 0;
}

.scores {
    display: flex;
}

.player-score {
    border: 1px black solid;
    width: 50px;
    padding: 15px;
    display: flex;
}

.computer-score {
    border: 1px black solid;
    width: 50px;
    padding: 15px;   
    display: flex;
}

.text-results {
    margin: 0;
    padding: 0;
}